/src/Illuminate/Collections/ @JosephSilber
/tests/Support/SupportCollectionTest/ @JosephSilber
/tests/Support/SupportLazyCollectionTest/ @JosephSilber
/tests/Support/SupportLazyCollectionIsLazyTest/ @JosephSilber
