root = true

[*]
trim_trailing_whitespace = true

[*.php]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true

[*.stub]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true

[composer.json]
indent_style = space
indent_size = 4
