<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/Illuminate/Pagination/resources/views</directory>
                <file>./src/Illuminate/Foundation/Console/Optimize/config.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
      <!--
      <env name="REDIS_HOST" value="127.0.0.1" />
      <env name="REDIS_PORT" value="6379" />
      -->
    </php>
</phpunit>
