div.form-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    user-select: none;
    cursor: default;
    flex-direction: column;
}

.loader {
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    border-top: 2px solid #8a8a8a;
    animation: spin 0.8s linear infinite;
}

.small.loader {
    top: 32px !important;
    right: 10px;
    width: 20px;
    height: 20px;
}

.large.loader {
    width: 50px;
    height: 50px;
}
.loader-text {
    padding-top: 0.5em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-header, .modal-footer {
    padding: 13px 15px;
}

.button-custom {
    width: 6em;
}

#MaterialTypesPage .VueTables__limit {
    display: none;
}

.VueTables__search-field label {
    display: none;
}

.VueTables__table thead > tr > th, .VueTables__table tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.VueTables__sort-icon {
    color: darkgrey;
    cursor: pointer;
}

#MaterialTypesPage .VueTables__table .type-id {
    width: 4%;
}

#MaterialTypesPage .VueTables__table .type-name {
    width: 19%;
}

#MaterialTypesPage .VueTables__table .type-desc {
    width: 36%;
}

#MaterialTypesPage .VueTables__table .brand-name {
    width: 19%;
}

#MaterialTypesPage .VueTables__table .type-status {
    width: 11%;
}

#MaterialTypesPage .VueTables__table .type-action {
    width: 11%;
}

.VueTables__sort-icon {
    color: white;
}