$SiteBlack: #242424;
$SiteMediumGray: #6f7070;
$SiteLightGray: #8e8d8d;
$SiteOrange: #f89433;
$SiteGreen: #138808;
$SiteRed: #ff0000;
$SiteYellow: #ffcc00;
$SiteWhite: #fff;
$SiteBlue: #0261b3;
$lightgray: lightgray;
$LoaderBackgroundColor: rgba(255, 255, 255, 0.7);