name: static analysis

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:

jobs:
  src:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: true
      matrix:
        directory: [src, types]

    name: ${{ matrix.directory == 'src' && 'Source Code' || 'Types' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --prefer-stable --prefer-dist --no-interaction --no-progress

      - name: Execute type checking
        run: vendor/bin/phpstan --configuration="phpstan.${{ matrix.directory }}.neon.dist"
